<h1 align="center"><%= @heading %></h1>
<h2 align="center"><%= @details %></h2><br><br><br>
<div><h4>First time user? Quick Sign-up below :<br><br>
  <%= link_to "signup", :controller => "credentials", :action => "signup" %>
</h4>
</div><br><br><br>
<div>
<h4>An existing user? Login below :<br><br>
  <%= link_to "login", :controller => "credentials", :action => "login" %>
</h4></div>
